extends base.pug

block scripts
    script(src='/static/index.js')

block style 
    style 
        include ../static/aboutstyle.css

block content
    div.container1
        div.container
            h1 About Us
            p The HaryanaNatyaSanskriti comprises of The HaryanaNatyaSanskriti Academy and The HaryanaNatyaSanskriti Student Repertory Company.
            p The HaryanaNatyaSanskriti Academy was set up by Indian-Haryanvi Software Engineer Ritik Bansal in August of 2023 to teach dance along the lines of dance institutes overseas. Currently its curriculum consists of styles such as Hariyali Dance, Haryanvi Ghoomar, Ragni Nritya and Dholak Beats.
            p Today, The HaryanaNatyaSanskriti Academy has a huge student database spanning Panipat, Sonipat and Karnal.
            p The HaryanaNatyaSanskriti Student Repertory Company was set up with senior students hand-picked by the Software Engineer Ritik Bansal. These budding artists are given opportunities to perform, teach and choreograph. They have a special curriculum set by the Software Engineer. 
        img(src="/static/img/nice1.jpg", alt="")